#Example {
    
    & {
        background-color: #f1f1f1;
        color: #000000;
    }

    form {

        .field-error {

            &,
            & + b {
                color: red;
            }
        }
    }
}